{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flyskea|管理用户{% endblock %}

{% block page_content %}
<div class="table-responsive">
    <table class="table table-hover">
        <caption>已注册用户</caption>
        <thead>
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            {% for u in user %}
            <tr>
                <td>{{ u.id }}</td>
                <td><a href="{{ url_for('main.user', username=u.username) }}">
                    {{ u.username }}</a></td>
                <td>{{u.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.manageuser') }}
</div>
{% endif %}
{% endblock %}
